/*  your css code here. If applicable */
body {
            background-color: #f6f6f6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            display: flex;
            align-items: center;
        }

        .left {
            width: 450px;
            margin-top: 70px;
            display: inline-block;
        }

        .left img {
            width: 300px;
            margin-left: -20px;
        }

        .left p {
            font-size: 20px;
            margin-top: -10px;
        }

        .right {
            width: 360px;
        }

        form {
            background-color: white;
            width: 300px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px #ccc;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }

        button {
            background-color: #1877f2;
            border-radius: 5px;
            padding: 10px 20px;
            width: 100%;
            color: white;
            font-size: 17px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #1877f2;
        }

        .signup {
            background-color: #42b72a;
        }
